[submodule "XDemangle"]
	path = XDemangle
	url = https://github.com/horsicq/XDemangle.git
[submodule "XDemangleWidget"]
	path = XDemangleWidget
	url = https://github.com/horsicq/XDemangleWidget.git
[submodule "XOptions"]
	path = XOptions
	url = https://github.com/horsicq/XOptions.git
[submodule "XShortcuts"]
	path = XShortcuts
	url = https://github.com/horsicq/XShortcuts.git
[submodule "build_tools"]
	path = build_tools
	url = https://github.com/horsicq/build_tools
[submodule "XExtractor"]
	path = XExtractor
	url = https://github.com/horsicq/XExtractor
[submodule "XScanEngine"]
	path = XScanEngine
	url = https://github.com/horsicq/XScanEngine
[submodule "XDisasmCore"]
	path = XDisasmCore
	url = https://github.com/horsicq/XDisasmCore.git
